@use "./variables.scss" as *;

.intro-section {
    padding: 1em 0;
    color: $color__white;

    @media (min-width: 768px) {
        padding: 1.5em 0;
    }

    @media (min-width: 1201px) {
        padding: 2em 0;
    }
}