@use "./variables.scss" as *;

@use "./header.scss" as *;
@use "./intro-section.scss" as *;

@use "./blocks.scss" as *;

/* Typography
-------------------------------*/

body {
	font-family: $sans-serif;
	background: $gradient1;
	background-image: url('/wp-content/uploads/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	font-size: 14px;
}

h1, h2, h3 {
	font-family: $serif;
	margin: 18px 0 1.5em;
	font-weight: 500;
}

p {
	margin: 0;
	margin-bottom: 1em;
}

.btn, input[value='submit'] {
	color: #fff;
	background-color: $color__blue;
	font-weight: bold;
	text-decoration: none;
	padding: .5em .75em;
	border-radius: 8px;
	border: 2px solid $color__blue;
	position: relative;
	z-index: 1;
	overflow: hidden;
	cursor: pointer;
	margin-left: .25em;

	&:first-of-type, &:nth-of-type(3) {
		margin-left: 0;
	}

	&:hover, &:active, &:focus {
		background-color: transparent;
		color: $color__blue;
	}
}

.btn {
	box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 20%);

	&.theme {
		background-color: $color__theme;
		border: 2px solid $color__theme;

		&:hover, &:focus, &:active {
			background: #fff;
			color: $color__theme;
		}
	}
}

.btn::after {
	content: "";
	background: #000;
	position: absolute;
	z-index: -1;
	padding: 0.85em 0.15em;
	display: block;
	opacity: 0;
}
 
.btn.slideFromLeft:hover::after {
left: 0;
right: 0;
top: 0;
bottom: 0;
transition: all 0.2s;
opacity: 1;
}

.btn.slideFromLeft::after {
top: 0;
bottom: 0;
right: 75%;
}

.sr {
	position: absolute;
	visibility: hidden !important;
}

@media (min-width: 375px) and (max-width: 767px) {

	.btn, input[value='submit'] {
		margin-left: 1em;
	}
}

@media (min-width: 768px) {

	body {
		font-size: 16px;
	}

	h2 {
		margin: 1em 0 1.5em;
	}

	.btn, input[value='submit'] {
		padding: .5em .75em;
		border-radius: 8px;
	}
}

@media (min-width: 992px) {
	

	h2 {
		margin-bottom: 1.5em;
	}
}

@media (min-width: 1200px) {
	
	h2 {
		margin: 24px 0;
		font-size: 36px;
	}
}

